<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="background-color: rgba(255,255,255,0.6);">
	<div style="text-align: center;">
		<p class="text-muted">Powered By
			<a class="noicon" href="https://www.djangoproject.com"><img src="{{ STATIC_URL }}img/django.png" alt="Django" style="width:75px; height:75px;"/></a>
			<a class="noicon" href="http://www.getbootstrap.com"><img src="{{ STATIC_URL }}img/bootstrap.png" alt="Bootstrap" style="width:98px; height:45px;"/></a>
		</p>
	</div>
</nav>
<script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-1.11.1.js"></script>
