<!DOCTYPE html>
<html>
	<head>
		<title>Melissa Olson</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css"/>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom: 0px;">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="{% url 'index' %}">Melissa Olson</a>
				</div>
			</div>
		</nav>
		<script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-1.11.1.js"></script>
	</body>
</html>
