<nav class="navbar navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="{% url 'index' %}">Melissa Olson</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li><a href="{% url 'resume' %}">Career</a></li>
			</ul>
			<ul class="nav navbar-nav">
				<li><a href="{% url 'event' %}">About</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="https://github.com/molson331/personal_site" target="_blank">Source</a></li>
			</ul>
		</div>
	</div>
</nav>
