<!DOCTYPE html>
<html>
	<head>
		{% include "base.html" %}
		<style type="text/css">
			div#linkedin
			{
			    margin: 0 auto;
			    position: fixed;
			    margin-left:-200px;
			    left:20%;
			    top:20%;
			}
		</style>
	</head>
	<body>
		{% include "header.html" %}
		<img src="{{ STATIC_URL }}img/technology.jpg" class="bg">
		<div id="linkedin">
			<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
			<script type="IN/MemberProfile" data-id="https://www.linkedin.com/pub/melissa-olson/73/7a3/164" data-format="inline"></script>
		</div>
		{% include "footer.html" %}
	</body>
</html>
